# DO Annual Cycle

In [1]:
# imports
from importlib import reload 

import os
import xarray

import numpy as np
from scipy import stats
from scipy.interpolate import interp1d 

from matplotlib import pyplot as plt
import matplotlib as mpl
import matplotlib.gridspec as gridspec
import matplotlib.dates as mdates
from matplotlib.ticker import MultipleLocator 

mpl.rcParams['font.family'] = 'stixgeneral'


import seaborn as sns

import pandas

from siosandbox.cugn import clusters
from siosandbox import plot_utils
from siosandbox import cat_utils

from cugn import grid_utils
from cugn import utils as cugn_utils
from cugn import io as cugn_io
from cugn import annualcycle

# Quick test that $T$ still works

## Load grid

In [2]:
line = '90.0'

In [3]:
items = cugn_io.load_up(line)#, skip_dist=True)
grid_extrem = items[0]

Found 30 unique clusters

## Cycle me

In [4]:
T_annual = annualcycle.calc_for_grid(grid_extrem, line, 't')

In [5]:
T_annual

array([15.08906877, 15.08782218, 15.04954141, ..., 13.27578622,
       14.89015269, 15.02232184])

# DO

In [6]:
reload(annualcycle)
DO_annual = annualcycle.calc_for_grid(grid_extrem, line, 'oxumolkg')

In [7]:
DO_annual

array([258.05610927, 258.25727989, 260.57432953, ..., 223.88964254,
       259.37909358, 256.77166607])

In [10]:
grid_extrem[0:1]

,depth,profile,row,col,doxy,doxy_p,time,lon,lat,z,...,SO,N,chla,T,N_p,chla_p,year,doy,dist,cluster
776,0,32958,24,19,277.438868,99.610136,2017-03-14 02:17:03,-118.227115,33.265208,10,...,1.116404,7.360446,0.285907,15.45625,80.701754,36.25731,2017,73,52.253342,0